<div>
  <h1>Total Number of questions Physical Science : {{questionsToDisplay.subject[0].section.content.length}}</h1>
  <h1>Total Number of questions Science : {{questionsToDisplay.subject[0].section.content.length}}</h1>

  <button style="color: white;
  background-color: blue;
  height: 30px;
  font-weight: bold;
  border-radius: 15px;"
    (click)="regenrate()">Regenrate Questions</button>
</div>
<div>
  <ng-container *ngFor="let sub of questionsToDisplay.subject;let k = index">
    <h1>{{sub.name}}</h1>
    <h1>{{sub.section.name}}</h1>
    <ng-container *ngFor="let item of getRandomArr(sub.section.content, 2);let i = index">
      <p><b>{{i+1 + '. ' + item.question}}</b></p>
      <ng-container *ngIf="item.pattern === 'multiple'">
        <ng-container *ngFor="let option of getRandomArr(item.options, 4); let j = index">
          <p> {{ j+1 + '. ' + option}} </p>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>